.u-section-1 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-1 .u-text-1 {
  margin: 0 auto;
}

.u-section-1 .u-social-icons-1 {
  height: 76px;
  min-height: 16px;
  width: 334px;
  min-width: 94px;
  margin: 35px auto 60px 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
  color: rgb(210, 34, 21) !important;
}

.u-section-1 .u-icon-2 {
  height: 0;
}

.u-section-1 .u-icon-3 {
  height: 100%;
  color: rgb(255, 69, 0) !important;
}

.u-section-1 .u-icon-4 {
  height: 100%;
  color: rgb(0, 137, 203) !important;
}.u-section-2 .u-sheet-1 {
  min-height: 153px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  margin: 0 auto 0 -55px;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  margin: 0 auto 60px -55px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 0;
  }
}