.u-section-1 .u-sheet-1 {
  min-height: 1170px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 507px;
  width: 353px;
  margin: 0 auto;
}

.u-section-1 .u-shape-1 {
  width: 98px;
  height: 25px;
  margin: -478px auto 0 449px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: -25px auto 0 449px;
}

.u-section-1 .u-custom-html-2 {
  height: auto;
  min-height: 507px;
  width: 353px;
  margin: 454px 394px 0;
}

.u-section-1 .u-shape-2 {
  width: 98px;
  height: 25px;
  margin: -478px auto 0 449px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: -25px auto 60px 449px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-2 {
    margin-left: 294px;
    margin-right: 294px;
  }

  .u-section-1 .u-shape-2 {
    margin-left: 370px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-2 {
    margin-left: 184px;
    margin-right: 184px;
  }

  .u-section-1 .u-shape-2 {
    margin-left: 283px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    margin-top: -454px;
    margin-left: 442px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 442px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-top: 406px;
    margin-left: 94px;
    margin-right: 94px;
  }

  .u-section-1 .u-shape-2 {
    margin-left: 212px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 442px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    width: 340px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: 242px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 242px;
  }

  .u-section-1 .u-custom-html-2 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-shape-2 {
    margin-left: 133px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 242px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 153px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  margin: 0 auto 60px -55px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }
}