<div>
  <link href="./footer.css" rel="stylesheet" />
  <footer class="footer-footer">
    <div class="footer-container">
      <a href="minyria.html" class="footer-navlink button">minyria</a>
      <div class="footer-icon-group">
        <img
          alt="1"
          src="public/playground_assets/miniria-server-icon.png"
          loading="eager"
          class="footer-image"
        />
      </div>
    </div>
    <footer class="footer-container1">
      <a href="servers.html" class="footer-navlink1">servers</a>
      <span class="footer-text">docs</span>
      <a href="about.html" class="footer-navlink2">About</a>
      <span class="footer-text1">Tutorials</span>
    </footer>
    <a
      href="https://youtu.be/dQw4w9WgXcQ"
      target="_blank"
      rel="noreferrer noopener"
      class="footer-link"
    >
      <img
        alt="image"
        src="public/playground_assets/sapphire_youtube-200h.png"
        loading="eager"
        class="footer-image1 button"
      />
    </a>
    <a
      href="https://www.twitch.tv/minyria"
      target="_blank"
      rel="noreferrer noopener"
      class="footer-link1"
    >
      <img
        alt="image"
        src="public/playground_assets/sapphire_twitch-200h.png"
        loading="eager"
        class="footer-image2 button"
      />
    </a>
    <a
      href="https://youtu.be/dQw4w9WgXcQ"
      target="_blank"
      rel="noreferrer noopener"
      class="footer-link2"
    >
      <img
        alt="image"
        src="public/playground_assets/sapphire_twitter-200h.png"
        loading="eager"
        class="footer-image3 button"
      />
    </a>
  </footer>
</div>
