.footer-footer {
  width: 100%;
  display: flex;
  position: relative;
  max-width: auto;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-discord-blurple);
}
.footer-container {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.footer-navlink {
  color: var(--dl-color-gray-white);
  align-self: center;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.footer-icon-group {
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-image {
  width: 100px;
  object-fit: cover;
}
.footer-container1 {
  flex: 1;
  left: 177px;
  width: 150px;
  height: 155px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
}
.footer-navlink1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-text {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-navlink2 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-text1 {
  margin-bottom: var(--dl-space-space-unit);
}
.footer-link {
  display: contents;
}
.footer-image1 {
  width: 100px;
  object-fit: cover;
  text-decoration: none;
}
.footer-link1 {
  display: contents;
}
.footer-image2 {
  width: 100px;
  object-fit: cover;
  text-decoration: none;
}
.footer-link2 {
  display: contents;
}
.footer-image3 {
  width: 100px;
  object-fit: cover;
  text-decoration: none;
}
.footer-root-class-name {
  bottom: 0px;
  position: absolute;
}
.footer-root-class-name1 {
  bottom: 0px;
  position: absolute;
}
.footer-root-class-name2 {
  bottom: 0px;
  position: absolute;
}
.footer-root-class-name3 {
  bottom: 0px;
  position: absolute;
}
.footer-root-class-name4 {
  bottom: 0px;
  position: absolute;
}
@media(max-width: 991px) {
  .footer-footer {
    flex-direction: column;
  }
  .footer-container {
    align-items: center;
  }
}
@media(max-width: 767px) {
  .footer-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .footer-footer {
    padding: var(--dl-space-space-unit);
  }
}
